.user{
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
}

.users {
    margin-top: 10px;
}

.pages {
    padding-bottom: 10px;
}

.selectedPage { 
    font-weight: 600;
}
.page {
padding: 5px;
margin: 5px;
cursor: pointer
}

.photo {
    height: 70px;
    border-radius: 50%;
}

span {
    padding: 5px;
    cursor: pointer
}