.header {
    grid-area: header; /* псевдоним */
    background-color: #86aaba;
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }

  .header a {
    cursor: pointer;
  }
  
  .header img {
    margin-left: 15px;
    margin-top: 10px; 
    width: 30px;
  }

  .login {
    outline: none;
    cursor: pointer;
  }