.sidebar {
    grid-area: nav; /* псевдоним */
    background-color: #2a4057;
    padding: 5px;
  }

.item {
  margin-top: 15px;
}  

.item a {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-weight: 600;
}

.item a.active {
  text-decoration: underline;
}