.profile {
  display: flex;
  direction: row;
}

.avatar img{
  height: 160px;
}

.info {
  margin-left: 15px;
}

.name {
  margin-bottom: 20px;
}

.name h2 {
  margin-top: 0;
}

.description p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.status span {
  width: 100px;
  cursor: pointer;
  border: 1px solid rgba(100, 109, 118, 0.315);
}

.status input {
  border: 1px solid rgba(100, 109, 118, 0.315);
  padding: 5px;
  resize: none;
  outline: none;
  margin-bottom: 7px;
}