.dialogsAndMessages {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItem {

}

.dialogsItem.active {
  font-weight: bold; 
}

.messages h3{
  margin-top: 10px;
}